@tailwind base;
@tailwind components;
@tailwind utilities;

/* Loans Table */

.loan-table > div:nth-child(n + 2):nth-child(-n + 8) > div:nth-child(3) {
  border-right: none;
}

.text-white {
  color: white !important;
  text-decoration: none !important;
}

.text-primaryBlue-400 {
  color: #0668a9 !important;
  text-decoration: none !important;
}
